.wp-block-latest-posts{
    margin: 10px 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        list-style: none;
        width:300px;
        margin:12px;
        overflow: hidden;
        & > a{
            font-size: 20px;
            display: block;
            margin:16px 24px 0;
        }
        time{
            display: block;
            margin:8px 24px 30px;
        }
        .wp-block-latest-posts__post-excerpt{
            margin:12px 24px 24px;
        }
    }
}